/*-- scss:defaults --*/

#quarto-embed-header {
    background-color: #575452 !important;
}
#quarto-embed-header .btn-primary {
    background-color: #575452 !important;
    border-color: #272B34 !important;
}
